body{
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #FFFFFF;
}

.header-logo{
color: #4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.header-logo-item{
color: #2E2F42;
}

.header-address{
    font-style: normal;
}

.list{
list-style-type: none;
}

.link{
    text-decoration: none;
}
/* ul{ 
    list-style-type:none;
*/
}
.header-menu-list{
color:#2E2F42;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}

.header-menu-item:hover,
.header-menu-item:focus{
    color: #404bbf;
}

.header-list-item{
color:#434455;
font-family: Roboto;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.hero{
    background-color:  #2E2F42;
}
.hero-title{
    color: #FFF;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.hero-btn{
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus{
    background-color: #404BBF;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.advantages-subtitle{
color: #2E2F42;
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.advantages-item-text{
color: #434455;
font-family: Roboto;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.subtitle{
color: #2E2F42;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.team-name{
    color:#2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;   
}

.team-name-position{
color:#434455;
font-family: Roboto;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.team{
    background-color: #F4F4FD;
}
.team-menu-item{
    background-color: #FFF;
 }

.footer-header{
    background-color: #2E2F42;
}
.footer-text{
color:#F4F4FD;
font-family: Roboto;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.footer-logo{
color:#4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
    }
.footer-logo-color{
        color:#F4F4FD;
    }

    /*-------------- PORTFOLIO PAGE ------------*/

.menu-button:hover,
.menu-button:focus{
    color: #FFFFFF;
    background-color: #404BBF;
    cursor: pointer;
}

.menu-button{
    color: #4D5AE5;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;  
    background-color: #F4F4FD; 
}


.portfolio-list{
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em; 
}

.portfolio-item{
    color: #434455);
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;  
}