:root{
    --slate: #434455;
    --navyblue: #2E2F42;
    --white: #FFFFFF;
    --iris: #4D5AE5;
    --cloud:#F4F4FD;
    --ocean: #404bbf;
}

body{
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--white);
}

.header-logo{
color: var(--iris);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.header-logo-item{
color: var(--navyblue);
}

.header-address{
    font-style: normal;
}

.list{
list-style-type: none;
}

.link{
    text-decoration: none;
}
/* ul{ 
    list-style-type:none;}
*/

.header-menu-list{
color: var(--navyblue);
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}

.header-menu-item:hover,
.header-menu-item:focus{
    color: var(--ocean);
}

.header-list-item{
color: var(--slate);
font-family: Roboto;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.hero{
    background-color: var(--navyblue);
}
.hero-title{
    color: var(--white);
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.hero-btn{
    color: var(--white);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--iris);
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus{
    background-color: var(--ocean);
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.advantages-subtitle{
color: var(--navyblue);
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.advantages-item-text{
color: var(--slate);
font-family: Roboto;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.subtitle{
color: var(--navyblue);
text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.team-name{
    color:var(--navyblue);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;   
}

.team-name-position{
color: var(--slate);
font-family: Roboto;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.team{
    background-color: var(--cloud);
}
.team-menu-item{
    background-color: var(--white);
 }

.footer-header{
    background-color: var(--navyblue);
}
.footer-text{
color: var(--cloud);
font-family: Roboto;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.footer-logo{
color: var(--iris);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
    }
.footer-logo-color{
        color:var(--cloud);
    }

    /*-------------- PORTFOLIO PAGE ------------*/

.menu-button:hover,
.menu-button:focus{
    color: var(--white);
    background-color: var(--ocean);
    cursor: pointer;
}

.menu-button{
    color: var(--iris);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;  
    background-color: var(--cloud); 
}


.portfolio-list{
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em; 
}

.portfolio-item{
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;  
}